@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: var(--primaryFont);
}
:root {
  --headerBackground: #000;
  --primaryFont: "Inter", sans-serif;
}

/* Navigation */
.Navigation {
  background-color: var(--headerBackground);
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.Navigation header {
  padding: 15px 100px;
  color: #fff;
}
.Navigation header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Navigation header .container .smallLogo,
.small,
.responsiveNav {
  display: none;
}
.Navigation header .container nav ul {
  display: flex;
  gap: 20px;
}
.Navigation header .container ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 6px 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.Navigation header .container ul li:nth-child(1) {
  color: #f72;
  border: 0.5px solid rgba(255, 119, 34, 0.358);
  border-radius: 5px;
}
.Navigation header .container ul li:nth-child(1):hover {
  color: rgba(255, 119, 34, 0.864);
  border: 0.5px solid rgba(255, 119, 34, 0.399);
}
.Navigation header .container ul li:nth-child(2) {
  color: #f4fdab;
  border: 0.5px solid #f3fdab57;
  border-radius: 5px;
}
.Navigation header .container nav ul li:nth-child(2):hover {
  color: #f3fdabcb;
  border: 0.5px solid #f3fdab4c;
}
.Navigation header .container ul li:nth-child(3) {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}
.Navigation header .container ul li:nth-child(3):hover {
  background-color: #dadada;
}

/* Hero */
.Hero {
  background-image: url("https://launch.apeterminal.io/static/media/homepage_bg_without.a8dc3b77683e3ca1dce7.webp");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
}

.Hero .container {
  background-image: url("https://launch.apeterminal.io/static/media/cta-bg-heroes.0c69511374f591501977ec8c08be0b8c.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  animation: flying 5s ease-in-out infinite;
  margin: auto;
}

@keyframes flying {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.Hero .container .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

.Hero .container .inner h1 {
  font-size: 114px;
  line-height: 90px;
  font-weight: 500;
  letter-spacing: -7px;
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
}
.Hero .container .inner p {
  text-align: center;
  max-width: 600px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}

/* Section One */
.SectionOne .featuredLaunch h1{
    text-align: center;
    margin-bottom: 100px;
    font-weight: 450;
    font-size: 40px;
}
.SectionOne .container{
  background-image: url("https://launch.apeterminal.io/static/media/timer_background.e9b871518325c8a43203.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.SectionOne .container .inner {
    background-color: #000;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 700px;
}

.SectionOne .container .inner .left {
    padding: 30px;
    width: 900px;
}

.SectionOne .container .inner .left .icons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.SectionOne .container .inner .left h3 {
    font-size: 30px;
    width: 80%;
}
.SectionOne .container .inner .left h3:nth-child(3) {
    margin-top: 30px;
}
.SectionOne .container .inner .left h4 {
    margin: 50px 0;
}
.SectionOne .container .inner .left h4 span {
    color: #6feb7c;
}
.SectionOne .container .inner .left p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    margin-top: 20px;
}
.SectionOne .container .inner .left button {
    border: none;
    background-color: #6feb7c;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 25px;
    gap: 10px;
    color: #000;
    font-weight: 500;
}

.SectionOne .liveand h1{
    text-align: center;
    margin: 70px 0 30px;
}
.SectionOne .liveand .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.SectionOne .liveand .container .contain {
    width: 400px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 70px;
}
.SectionOne .liveand .container .contain video {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50px;
}
.SectionOne .liveand .container .contain .into {
    padding: 10px 20px;
}
.SectionOne .liveand .container .contain .into .content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.SectionOne .liveand .container .contain .into .content ul li {
  margin-bottom: 30px;
}
.SectionOne .liveand .container .contain .into .content ul li span {
  color: #f72;
}
.SectionOne .liveand .container .contain .into button{
  border: none;
  background-color: #6feb7c;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 25px;
  gap: 10px;
  color: #000;
  font-weight: 500;
  margin: 40px auto 20px;
  width: 90%;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
}
.SectionOne .liveand .container .contain .into .info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.SectionOne .liveand .container .contain .into .interest {
  color: #f72;
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.SectionOne .liveand .container .contain .into .interest p {
  font-size: 13px;
  background-color: #1c1c1c;
  border-radius: 15px;
  padding: 7px 10px;
}

/* Section Two */


.SectionTwo {
  background-color: #000;
  margin-top: 900px;
  color: #fff;
  padding: 30px;
}
.SectionTwo .container h1 {
  text-align: center;
  padding-top: 70px;
  font-weight: 550;
  font-size: 35px;
}
.SectionTwo .container .content  {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  flex-wrap: wrap;
}
.SectionTwo .container .content .contain {
  max-width: 350px;
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}
.SectionTwo .container .content .contain .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.SectionTwo .container .content .contain .header h3 {
  text-align: center;
}

.SectionTwo .container .contain .table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  gap: 140px;
}
.SectionTwo .container .contain .table ul li {
  margin-bottom: 40px;
}

.SectionTwo .container .contain button {
  width: 100%;
  margin: auto;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.SectionTwo .container .contain .icons {
  padding-top: 30px;
  display: flex;
  gap: 15px;
  margin: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Section Three */
.SectionThree {
  background-image: url("https://launch.apeterminal.io/static/media/apply_for_terminal_bg-min.747cf3836cd0925a3d65.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-bottom: 50px;
}

.SectionThree .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 400px;
}


.SectionThree .container h1 {
  font-size: 60px;
  max-width: 400px;
  text-align: center;
  font-weight: 550;
  margin-bottom: 20px;
}

.SectionThree .container p {
  font-size: 20px;
  font-weight: 400;
  max-width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

.SectionThree .container button {
  padding: 20px 30px;
  border: 1px solid #000;
  background-color: #f72;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 500;
}









/* Responsiveness */

/* Small laptop */
@media screen and (max-width: 1024px) {
  .Navigation header {
    padding: 15px;
  }
  .Navigation header .container .bigLogo {
    display: none;
  }
  .Navigation header .container .smallLogo {
    display: block;
  }
  .Navigation header .container .small {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .Navigation header .container .small li {
    display: flex;
    align-items: center;
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    gap: 5px;
  }
  .Navigation header .container .small i {
    font-size: 30px;
  }
  .Navigation header .container ul li {
    display: none;
  }

  /* Define slideIn class */
  .slideIn {
    animation: slideInAnimation 0.5s forwards;
    display: block;
  }

  @keyframes slideInAnimation {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .Navigation header .container .responsiveNav {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
  }
  .Navigation header .container .responsiveNav ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 50px;
    padding: 70px 0;
    background-color: #1c1c1c;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
  }
  .Navigation header .container .responsiveNav li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .Navigation header .container .responsiveNav li:nth-child(1) {
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    border: none;
    width: 70%;
  }
  .Navigation header .container .responsiveNav li:nth-child(2) {
    color: #f72;
    border: 0.5px solid rgba(255, 119, 34, 0.358);
    border-radius: 15px;
    width: 90%;
  }
  .Navigation header .container .responsiveNav li:nth-child(3) {
    background-color: #000000;
    color: #f4fdab;
    border: 0.5px solid #f3fdab57;
    border-radius: 15px;
    width: 90%;
  }

  .Navigation header .container .responsiveNav .inner p {
    text-align: center;
    margin-top: 30px;
  }

  .Hero .container .inner h1 {
    font-size: 70px;
  }
  .Hero .container .inner p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
    .Hero {
        background-image: url("https://launch.apeterminal.io/static/media/homepage_bg_modern_mobile.3631d92f646eff099f83.webp");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
      }
      .Hero .container {
        background-image: none;
      }
      .Hero .container .inner {
        padding-top: 40px;
      }
      .Hero .container .inner h1 {
        font-size: 70px;
        font-weight: 650;
        margin: 30px 0 0;
        line-height: 90%;
      }
      .Hero .container .inner p {
        font-size: 13px;
        line-height: 20px;
        width: 90%;
      }
      .SectionOne {
        margin-top: -270px;
      }
      .SectionOne .featuredLaunch h1 {
        font-size: 25px;
        font-weight: 550;
      }
      .SectionOne .featuredLaunch h1 {
        margin: 40px 0;
      }
      .SectionOne .container .inner .right {
        display: none;
      }
      .SectionTwo {
        margin-top: 3900px;
      }
      .SectionThree .container h1{
          font-size: 45px;
      }
      .SectionThree .container p {
        font-size: 15px;
        max-width: 80%;
      }
}


